# Machine Learning lab

Welcome to the world of machine learning. In this notebook let's explore what is machine learning and apply it to solve a classification problem.

## What is Python?
Python is an interpreted, high-level, general-purpose programming language.

## Python Libraries
Python library is a collection of functions and methods that lets you perform lots of actions without writing your own code [reference](https://www.quora.com/What-is-a-Python-library-and-what-can-I-use-it-for). In this lab we will use:

- **scipy**: SciPy is a free and open-source Python library used for scientific computing and technical computing. 
- **numpy**: NumPy is a library for the Python programming language, adding support for large, multi-dimensional arrays and matrices, along with a large collection of high-level mathematical functions to operate on these arrays.
- **matplotlib**: Matplotlib is a Python 2D plotting library which produces publication quality figures in a variety of hardcopy formats and interactive environments across platforms
- **pandas**:  Pandas is a software library written for the Python programming language for data manipulation and analysis. 
- **sklearn**: Scikit-learn (formerly scikits.learn) is a free software machine learning library for the Python programming language. It features various classification/regression (supervised) and clustering (unsupervised) algorithms.

Note: These python libraries are installed in your virtual environment using pip and requirements.txt

### You will learn in this notebook:

1. What is machine learning very high level
2. Different types of machine learning problems
3. Understanding data and output used for machine learning using an sample data

# What is machine learning ?
Machine learning (ML) describes algorithms that look at data and correct output for that data and learn from it.
An ML program will try to learn the relationship between input data and the output.

A machine learning program:
1. May extract the features of the dataset (e.g., shape or color) for a given problem (e.g., separating apples and oranges); or we will explicitly define the features.
2. Uses the observed features and correct output (also called 'labels') to learn the results (e.g., it is an apple or it is an orange).
3. Saves the observed results as a machine learning model for later use.
4. Uses the saved results in the machine learning model to predict the output for a new data instance (is this an apple or an orange?)

## What is a feature in machine learning?

A feature is an individual measurable property or characteristic of a phenomenon being observed. For example, an apple is red, green, or pink.  A banana is yellow.  An apple is round.  A banana is oblong and tapered at the ends. 
[Reference](https://www.google.com/url?sa=t&rct=j&q=&esrc=s&source=web&cd=2&cad=rja&uact=8&ved=2ahUKEwjY9KX3pKLeAhUN7p8KHTbwAMUQFjABegQIChAB&url=https%3A%2F%2Fwww.springer.com%2Fus%2Fbook%2F9780387310732&usg=AOvVaw19ZfKiiH_u4x4lnbqIQ-Zp)

Let's consider a task of separating green apples vs oranges from a box which contains both. There are a few properties like shape, weight, color which we can use to separate them. These properties are the features for the machine learning task. Let's see what makes a good feature below.

## Supervised machine learning:
1. Classification
2. Regression

The problem presented above (separating green apples vs oranges) is a classification task.

An example of a regression task is determining the <b>price</b> of an apple using all the appropriate features that contribute to the price.  A machine learning program will use features like weight, quality, source, season, price of alternatives, availability, etc. to determine an approximate price.

# Sample problem dataset

The data set consists of ten baseline variables, age, sex, body mass index, average blood pressure, and six blood serum measurements were obtained for each of n = 442 diabetes patients and a quantitative measure of disease progression one year after baseline. 
The goal is given a new data point with age, sex, body mass index, average blood pressure, and six blood serum measurements for a new patient we should be able predict a quantitative measure of disease progression in one year for that patient.

## Load libraries
Before we start let's import the libraries necessary for this lab.

In [1]:
from IPython.display import display, HTML
import pandas as pd
from pandas.plotting import scatter_matrix
import matplotlib.pyplot as plt
import numpy as np
from sklearn import datasets
import warnings
warnings.filterwarnings("ignore")

All the libraries should load without any error. If there is an error Module Not Found then that library is missing in your virtual environment and need to install that.

## Load Dataset

In [2]:
# Load the diabetes dataset
diabetes_dataset = datasets.load_diabetes()

The dataset should load without any errors.

## Analyze data
Now let's try to look at data.

In this step we are going to take a look at the data in different ways:

1. Type of dataset
2. Dimensions of the dataset.
3. Peek at the data itself.
4. Statistical summary of all attributes.

### Convert diabetes_dataset to pandas dataframe to visualize

In [3]:
diabetes_pd = pd.DataFrame(data= np.c_[diabetes_dataset['data'], diabetes_dataset['target']],
                     columns= diabetes_dataset['feature_names'] + ['target'])

### Dimensions of Dataset
We can get a quick idea of how many instances (rows) and how many attributes (columns) the data contains with the shape property.

In [4]:
type(diabetes_pd)

pandas.core.frame.DataFrame

In [5]:
# shape
print(diabetes_pd.shape)

(442, 11)

In [6]:
len(diabetes_pd)

442

Above you will see that the dataset has 442 instances and 11 attributes. Next let's see first few rows of data to and distinguish between features and the output class.

In [7]:
# head
diabetes_pd.head(10)

,age,sex,bmi,bp,s1,s2,s3,s4,s5,s6,target
0,0.038076,0.050680,0.061696,0.021872,-0.044223,-0.034821,-0.043401,-0.002592,0.019908,-0.017646,151.0
1,-0.001882,-0.044642,-0.051474,-0.026328,-0.008449,-0.019163,0.074412,-0.039493,-0.068330,-0.092204,75.0
2,0.085299,0.050680,0.044451,-0.005671,-0.045599,-0.034194,-0.032356,-0.002592,0.002864,-0.025930,141.0
3,-0.089063,-0.044642,-0.011595,-0.036656,0.012191,0.024991,-0.036038,0.034309,0.022692,-0.009362,206.0
4,0.005383,-0.044642,-0.036385,0.021872,0.003935,0.015596,0.008142,-0.002592,-0.031991,-0.046641,135.0
5,-0.092695,-0.044642,-0.040696,-0.019442,-0.068991,-0.079288,0.041277,-0.076395,-0.041180,-0.096346,97.0
6,-0.045472,0.050680,-0.047163,-0.015999,-0.040096,-0.024800,0.000779,-0.039493,-0.062913,-0.038357,138.0
7,0.063504,0.050680,-0.001895,0.066630,0.090620,0.108914,0.022869,0.017703,-0.035817,0.003064,63.0
8,0.041708,0.050680,0.061696,-0.040099,-0.013953,0.006202,-0.028674,-0.002592,-0.014956,0.011349,110.0
9,-0.070900,-0.044642,0.039062,-0.033214,-0.012577,-0.034508,-0.024993,-0.002592,0.067736,-0.013504,310.0

In [8]:
# print all the column headers
diabetes_pd.columns

Index(['age', 'sex', 'bmi', 'bp', 's1', 's2', 's3', 's4', 's5', 's6',
       'target'],
      dtype='object')

### Statistical Summary

Now we can take a look at a summary of each attribute.
This includes the count, mean, the min and max values as well as some percentiles.

In [9]:
# descriptions
diabetes_pd.describe()

,age,sex,bmi,bp,s1,s2,s3,s4,s5,s6,target
count,4.420000e+02,4.420000e+02,4.420000e+02,4.420000e+02,4.420000e+02,4.420000e+02,4.420000e+02,4.420000e+02,4.420000e+02,4.420000e+02,442.000000
mean,-3.639623e-16,1.309912e-16,-8.013951e-16,1.289818e-16,-9.042540e-17,1.301121e-16,-4.563971e-16,3.863174e-16,-3.848103e-16,-3.398488e-16,152.133484
std,4.761905e-02,4.761905e-02,4.761905e-02,4.761905e-02,4.761905e-02,4.761905e-02,4.761905e-02,4.761905e-02,4.761905e-02,4.761905e-02,77.093005
min,-1.072256e-01,-4.464164e-02,-9.027530e-02,-1.123996e-01,-1.267807e-01,-1.156131e-01,-1.023071e-01,-7.639450e-02,-1.260974e-01,-1.377672e-01,25.000000
25%,-3.729927e-02,-4.464164e-02,-3.422907e-02,-3.665645e-02,-3.424784e-02,-3.035840e-02,-3.511716e-02,-3.949338e-02,-3.324879e-02,-3.317903e-02,87.000000
50%,5.383060e-03,-4.464164e-02,-7.283766e-03,-5.670611e-03,-4.320866e-03,-3.819065e-03,-6.584468e-03,-2.592262e-03,-1.947634e-03,-1.077698e-03,140.500000
75%,3.807591e-02,5.068012e-02,3.124802e-02,3.564384e-02,2.835801e-02,2.984439e-02,2.931150e-02,3.430886e-02,3.243323e-02,2.791705e-02,211.500000
max,1.107267e-01,5.068012e-02,1.705552e-01,1.320442e-01,1.539137e-01,1.987880e-01,1.811791e-01,1.852344e-01,1.335990e-01,1.356118e-01,346.000000

# Steps involved in the building a machine learning model

The below are the general steps that apply to building a machine learning model.

1. Gathering Data: Collect data along with its required attributes and the output you are expecting to solve your problem.

2. Data preparation: In this step, we load our data into a suitable place and prepare it for use in our machine learning training. Sometimes the data we collect needs other forms of adjusting, manipulation, and cleanup.

3. Choosing a model: There are many machine learning algorithms readily available to try out. In general, figure out a category of algorithms that suit your problem. Then you can try them on your dataset. 

4. Training: Now you have dataset and machine learning algorithm selected. In training step, you can build a model that makes use of a given algorithm to learn the output from your data. This model can be saved for predicting the output on a new data point. 
Before we start training typically we split the dataset into training and validation sets. Only training set is used for training.

5. Evaluation: Once training is complete, it’s time to see if the model is any good, using Evaluation. We will use validation set to measure accuracy and see how well our trained model is able to do a prediction.

6. Parameter Tuning: Once you’ve done evaluation, it’s possible that you want to see if you can further improve your training in any way. We can do this by tuning our parameters. There were a few parameters we implicitly assumed when we did our training, and now is a good time to go back and test those assumptions and try other values.

Next let's take a diabetes sample dataset to solve a regression problem and digits dataset to solve a classification problem in the following notebooks 
<p>
<a href=regression.ipynb>Regression Notebook</a><br>
<a href=classification.ipynb>Classification Notebook</a>
</p>

In both the notebooks you can see steps discussed above being applied.